@charset "UTF-8";
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: #000000;
}

.wrapper-video-player {
    display: flex;
    width: 1280px;
    height: 720px;
    justify-content: center;
    align-items: center;
}

/* 비디오 플레이어 */
body,
.container,
.video-controls,
.video-timer,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* width: 86%; */
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background: #000;
    aspect-ratio: 16/9;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (min-width: 1280px) {
    .container {
        height: 720px;
        max-width: 1280px;
    }
}

.control-menu {
    opacity: 0;
    transition: all 0.08s ease;
    width: 100%;
    padding: 0px 20px;
    position: absolute;
    top: 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

    .control-menu .exit,
    .control-menu .skip {
        cursor: url(../../include/images/cursor_hover.png), pointer;
        font-size: 18px;
    }

    .control-menu .exit {
        display: flex;
        align-items: center;
    }

        .control-menu .exit img {
            width: 24px;
            height: 24px;
            margin-right: 2px;
        }

        .control-menu .exit span {
            padding-top: 3px;
        }

.video-controls-center {
    opacity: 0;
    position: absolute;
    z-index: 10;
}

    .video-controls-center button {
        background-color: transparent;
        border: none;
        cursor: url(../../include/images/cursor_hover.png), pointer;
    }

    .video-controls-center .player {
        display: flex;
        align-items: center;
    }

        .video-controls-center .player .play,
        .video-controls-center .player .pause {
            width: 80px;
            height: 80px;
            background-size: contain;
        }

@media (min-width: 992px) {
    .video-controls-center .player .play,
    .video-controls-center .player .pause {
        width: 120px;
        height: 120px;
    }
}

.video-controls-center .player .play {
    background-image: url(../../include/images/ico_play.png);
}

.video-controls-center .player .pause {
    background-image: url(../../include/images/ico_pause.png);
}

.video-controls-center .player .play-back,
.video-controls-center .player .play-jump {
    margin: 0px 12px;
    width: 50px;
    height: 50px;
    background-size: contain;
}

@media (min-width: 992px) {
    .video-controls-center .player .play-back,
    .video-controls-center .player .play-jump {
        width: 80px;
        height: 80px;
    }
}

.video-controls-center .player .play-back {
    background-image: url(../../include/images/ico_play_back.png);
}

.video-controls-center .player .play-jump {
    background-image: url(../../include/images/ico_play_jump.png);
}

.video-controls .play-pause.img-play {
    background-image: url(../../include/images/ico_play.png);
    width: 40px;
    height: 40px;
    background-size: contain;
}

.video-controls .play-pause.img-pause {
    background-image: url(../../include/images/ico_pause.png);
    width: 40px;
    height: 40px;
    background-size: contain;
}

.container.show-controls .control-menu,
.container.show-controls .video-controls-center {
    opacity: 1;
    transition: all 0.13s ease;
}

.container.show-controls .light-box {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container.fullscreen {
    max-width: 1024px;
    width: 100%;
    height: 576px;
    border-radius: 0px;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    bottom: -15px;
    transition: all 0.08s ease;
}

.container.show-controls .wrapper {
    opacity: 1;
    bottom: 0;
    transition: all 0.13s ease;
}

.wrapper::before {
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.video-timeline {
    height: 15px;
    width: 100%;
    cursor: url(../../include/images/cursor_hover.png), pointer;
}

    .video-timeline .progress-area {
        height: 3px;
        position: relative;
        background: rgba(255, 255, 255, 0.6);
    }

.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    position: relative;
    background: #46079f;
}

.progress-bar::before {
    content: "";
    right: -10px;
    top: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    background: #46079f;
    transform: translateY(-50%);
}

.progress-bar::before,
.progress-area span {
    display: none;
}

.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span {
    display: block;
}

.wrapper .video-controls {
    padding: 5px 20px 10px;
}

.video-controls .options {
    width: 100%;
}

    .video-controls .options:first-child {
        justify-content: flex-start;
    }

    .video-controls .options:last-child {
        justify-content: flex-end;
    }

.options button {
    height: 40px;
    width: 40px;
    font-size: 19px;
    border: none;
    cursor: url(../../include/images/cursor_hover.png), pointer;
    background: none;
    color: #efefef;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .options button.skip-backward, .options button.skip-forward {
        margin: 0px 10px;
    }

    .options button:hover :where(i, span) {
        color: #fff;
    }

    .options button:active :where(img) {
        transform: scale(0.9);
    }

    .options button :where(i, span) {
        height: 100%;
        width: 100%;
        line-height: 40px;
    }

    .options button :where(img) {
        height: 24px;
        width: 24px;
        line-height: 40px;
    }

    .options button span {
        font-size: 23px;
    }

    .options button .img-volume-high,
    .options button .img-volume-xmark,
    .options button .img-speed {
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .options button .img-volume-high {
        background-image: url("../../include/images/ico_volume.png");
    }

    .options button .img-volume-xmark {
        background-image: url("../../include/images/ico_mute.png");
    }

    .options button .img-speed {
        background-image: url("../../include/images/ico_speed.png");
    }

    .options button .img-full-size,
    .options button .img-re-size {
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .options button .img-full-size {
        background-image: url("../../include/images/ico_full_size.png");
    }

    .options button .img-re-size {
        background-image: url("../../include/images/ico_re_size.png");
    }

.options input {
    height: 3px;
    margin-left: 3px;
    max-width: 50px;
    accent-color: #46079f;
}

.options .video-timer {
    color: #efefef;
    margin-left: 10px;
    font-size: 12px;
}

.video-timer .separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open sans";
}

.playback-content {
    display: flex;
    position: relative;
}

    .playback-content .speed-options {
        position: absolute;
        list-style: none;
        left: -40px;
        bottom: 40px;
        width: 95px;
        overflow: hidden;
        opacity: 0;
        border-radius: 8px;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transition: opacity 0.13s ease;
    }

        .playback-content .speed-options.show {
            opacity: 1;
            pointer-events: auto;
        }

.speed-options li {
    /*cursor: url(../../include/images/cursor_hover.png), pointer;*/
    cursor: url(../../include/images/cursor_hover.png), pointer;
    color: #000;
    margin: 2px 0;
    padding: 10px 0 10px 15px;
    transition: all 0.1s ease;
    font-size: 16px;
}

    .speed-options li:where(:first-child, :last-child) {
        margin: 0px;
    }

    .speed-options li:hover {
        background: #dfdfdf;
    }

    .speed-options li.active {
        color: #fff;
        background: #46079f;
    }

.container video {
    width: 100%;
}

@media screen and (max-width: 540px) {
    .wrapper .video-controls {
        padding: 3px 10px 7px;
    }

    .options input,
    .progress-area span {
        display: none !important;
    }

    .options button {
        height: 30px;
        width: 30px;
        font-size: 17px;
    }

    .options .video-timer {
        margin-left: 5px;
    }

    .video-timer .separator {
        font-size: 14px;
        margin: 0 2px;
    }

    .options button :where(i, span) {
        line-height: 30px;
    }

    .options button span {
        font-size: 21px;
    }

    .options .video-timer,
    .progress-area span,
    .speed-options li {
        font-size: 14px;
    }

    .playback-content .speed-options {
        width: 75px;
        left: -30px;
        bottom: 30px;
    }

    .speed-options li {
        margin: 1px 0;
        padding: 3px 0 3px 10px;
    }

    .right .pic-in-pic {
        display: none;
    }
}

.pop-up {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pop-up .skip,
    .pop-up .exit {
        width: 300px;
        height: 240px;
        background-color: #f5f1e7;
        border-radius: 10px;
        padding: 20px;
    }

        .pop-up .skip .comment,
        .pop-up .exit .comment {
            font-size: 20px;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pop-up .skip .buttons,
        .pop-up .exit .buttons {
            display: flex;
            justify-content: space-around;
        }

            .pop-up .skip .buttons button,
            .pop-up .exit .buttons button {
                cursor: url(../../include/images/cursor_hover.png), pointer;
                width: 120px;
                height: 50px;
                border: none;
                border-radius: 100px;
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                background-color: #d17027;
            }

                .pop-up .skip .buttons button:nth-last-child(1),
                .pop-up .exit .buttons button:nth-last-child(1) {
                    background-color: #bbbbbb;
                }

.d-none {
    display: none;
}

/*# source MappingURL=videostyle.css.map */
